.textbox-title {
    font-size: 30px;
    font-weight: 500;
}

.AL {
    text-align: left;
}
.AR {
    text-align: right;
}

.text-box {
    padding: 15px;
    margin: 25px;
}

.textbox-wrapper {
    margin: 6px 0px 12px 0px;
}
